.message-board {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: 1fr auto;
}

.no-messages-text {
  place-self: center;
}

/* footer styles */
footer {
  position: sticky;
  bottom: 0;
  z-index: 99;
  background-color: rgb(57 57 62 / 90%);
  padding: 1em;
  backdrop-filter: blur(5px);
  width: 100%;

  .footer__wrapper {
    display: flex;
    gap: 1em;
  }

  & form {
    flex: 1;
  }
}

.footer__wrapper,
.messages {
  width: min(600px, 100%);
  margin-inline: auto;
}

nav {
  display: flex;
  justify-content: end;
  gap: 5px;
  order: 1;

  .avatar__nav {
    margin-inline: auto;
    max-width: 26px;
    max-height: 26px;
  }

  .logout__btn {
    padding: 0;
    background-color: transparent;
  }
}

.message-form {
  position: relative;

  & textarea:focus ~ .message__word-count,
  textarea:not(:placeholder-shown) ~ .message__word-count {
    display: inline;
  }
}

.textarea-grow-wrap {
  display: grid;

  & textarea,
  & span {
    grid-area: 1 / 1 / 2 / 2;
    padding: var(--input-padding);
  }

  & span {
    visibility: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    pointer-events: none;
    max-height: 350px;
  }
}

.message__word-count {
  left: 0;
  right: 0;
  top: 40%;
  position: absolute;
  display: none;
}

/* Messageboard styles */

.messages {
  display: flex;
  flex-direction: column;
  justify-content: end;
  word-break: break-word;
}

.message {
  display: flex;
  gap: 2em;
  margin-block: 1em;

  & .avatar__message,
  & .username__message {
    max-width: 3.15rem;
  }
}

.user-info__message {
  text-align: center;
}

.avatar__message {
  aspect-ratio: 1;
}

.username__message {
  word-break: break-all;
}

.user__message {
  --point-width: 1rem;
  --point-height: 0.7rem;
  --point-top-offset: 1.15rem;
  --bw: 1px;
  --bg: #ffffff;

  display: grid;
  place-content: center;
  align-self: start;
  position: relative;

  border: 4px solid var(--bg);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  min-height: 3.75rem;
  font-weight: 600;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    inset: 0 100% 0 calc(var(--point-width) * -0.6);
    background-image: inherit;
    clip-path: polygon(
      0 calc(1.3rem + 0.4rem / 2),
      100% 1.3rem,
      100% calc(1.3rem + 0.4rem)
    );
  }

  &::after {
    inset: 0 100% 0 calc(1.5rem * -1);
    background-color: var(--bg);
    clip-path: polygon(
      0 calc(var(--point-top-offset) + var(--point-height) / 2),
      100% var(--point-top-offset),
      100% calc(var(--point-top-offset) + var(--point-height))
    );
    z-index: -1;
  }

  &.user__message--pink {
    background-image: var(--pink-gradient);
  }

  &.user__message--red {
    background-image: var(--red-gradient);
  }

  &.user__message--green {
    background-image: var(--green-gradient);
  }

  &.user__message--gray {
    background-image: var(--gray--gradient);
  }

  &.user__message--orange {
    background-image: var(--green-gradient);
  }
}

/* skeleton */

.skeleton {
  background-color: #45474b;
  animation: pulsate 800ms infinite alternate-reverse;
}

.user-message-skeleton::before {
  background-color: inherit;
}

.user-message-skeleton {
  width: 300px;
}

.avatar-skeleton {
  height: 50px;
  margin-bottom: 3px;
}

.username-skeleton {
  height: 15px;
}

@keyframes pulsate {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
