.message-board {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: 1fr auto;
}

.no-messages-text {
  place-self: center;
}

/* footer styles */
footer {
  position: sticky;
  bottom: 0;
  z-index: 99;
  background-color: rgb(57 57 62 / 90%);
  padding: 1em;
  backdrop-filter: blur(5px);
  width: 100%;

  .footer__wrapper {
    display: flex;
    gap: 1em;
  }

  & form {
    flex: 1;
  }
}

.footer__wrapper,
.messages {
  width: min(600px, 100%);
  margin-inline: auto;
}

nav {
  display: flex;
  justify-content: end;
  gap: 5px;
  order: 1;

  .avatar__nav {
    margin-inline: auto;
    max-width: 26px;
    max-height: 26px;
  }

  .logout__btn {
    padding: 0;
    background-color: transparent;
  }
}

.textarea-grow-wrap {
  display: grid;

  & textarea,
  & span {
    grid-area: 1 / 1 / 2 / 2;
    padding: var(--input-padding);
  }

  & span {
    visibility: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    pointer-events: none;
    max-height: 350px;
  }
}

.message__word-count {
  visibility: hidden;
}

.textarea-grow-wrap:has(textarea:focus, textarea:not(:placeholder-shown))
  ~ .message__word-count {
  visibility: visible;
}

/* Messageboard styles */

.messages {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1em;
  word-break: break-word;
}

.message {
  display: flex;
  gap: 2em;

  & .message__avatar,
  & .message__username {
    max-width: 3.15rem;
    text-align: center;
  }
}

.message__bubble {
  --pink-gradient: linear-gradient(
    #de86ac 0,
    #c96294 50%,
    #b34477 51%,
    #af497c 100%
  );
  --red-gradient: linear-gradient(
    #d1727a 0,
    #a52526 50%,
    #970d03 51%,
    #a7140c 100%
  );
  --green-gradient: linear-gradient(
    #acf26a 0,
    #57c22a 50%,
    #42aa2d 51%,
    #4fb32e 100%
  );
  --gray-gradient: linear-gradient(
    #cec5c3 0,
    #a39a9c 50%,
    #857981 51%,
    #797175 100%
  );
  --orange-gradient: linear-gradient(
    #fad34b 0,
    #f99d35 50%,
    #dc721b 51%,
    #f9831e 100%
  );
  --blue-gradient: linear-gradient(
    #8ac0e4 0,
    #5aa6d2 50%,
    #4191c7 51%,
    #297db5 100%
  );
  --lime-gradient: linear-gradient(#abda68 50%, #84cc58 51%, #4d9744 100%);
  --brown-gradient: linear-gradient(#bfa98a 50%, #ac7e38 51%, #a87b31 100%);

  --point-width: 1rem;
  --point-height: 0.7rem;
  --point-top-offset: 1.15rem;
  --bw: 1px;
  --bg: #ffffff;

  display: grid;
  place-content: center;
  align-self: start;
  position: relative;

  border: 4px solid var(--bg);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  min-height: 3.75rem;
  font-weight: 600;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    inset: 0 100% 0 calc(var(--point-width) * -0.6);
    background-image: inherit;
    clip-path: polygon(
      0 calc(1.3rem + 0.4rem / 2),
      100% 1.3rem,
      100% calc(1.3rem + 0.4rem)
    );
  }

  &::after {
    inset: 0 100% 0 calc(1.5rem * -1);
    background-color: var(--bg);
    clip-path: polygon(
      0 calc(var(--point-top-offset) + var(--point-height) / 2),
      100% var(--point-top-offset),
      100% calc(var(--point-top-offset) + var(--point-height))
    );
    z-index: -1;
  }

  &.message__bubble--pink {
    background-image: var(--pink-gradient);
  }

  &.message__bubble--red {
    background-image: var(--red-gradient);
  }

  &.message__bubble--green {
    background-image: var(--green-gradient);
  }

  &.message__bubble--gray {
    background-image: var(--gray-gradient);
  }

  &.message__bubble--orange {
    background-image: var(--orange-gradient);
  }

  &.message__bubble--lime {
    background-image: var(--lime-gradient);
  }

  &.message__bubble--brown {
    background-image: var(--brown-gradient);
  }

  &.message__bubble--blue {
    background-image: var(--blue-gradient);
  }
}

/* skeleton */

.messages:has(.skeleton-message) {
  margin-block: 1em;
}

.skeleton {
  background-color: #45474b;
  animation: glow 800ms infinite alternate-reverse;

  &::before {
    background-color: inherit;
  }
}

.skeleton-message__bubble {
  width: 300px;
}

.skeleton-message__avatar {
  height: 3.15rem;
  aspect-ratio: 1;
  margin-bottom: 3px;
}

.skeleton-message__username {
  height: 15px;
}

@keyframes glow {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
