:root {
  --pink: #de86ac;
  --red: #ab1d19;
  --gray: #527c8d;
  --orange: #fda500;
  --green: #59a259;
  --brown: #797130;
  --lime: #c8ffa6;
  --blue: #51afe9;
  --pink-gradient: linear-gradient(
    #de86ac 0,
    #c96294 50%,
    #b34477 51%,
    #af497c 100%
  );
  --red-gradient: linear-gradient(
    #d1727a 0,
    #a52526 50%,
    #970d03 51%,
    #a7140c 100%
  );
  --green-gradient: linear-gradient(
    #acf26a 0,
    #57c22a 50%,
    #42aa2d 51%,
    #4fb32e 100%
  );
  --gray--gradient: linear-gradient(
    #cec5c3 0,
    #a39a9c 50%,
    #857981 51%,
    #797175 100%
  );
  --orange--gradient: linear-gradient(
    #fad34b 0,
    #f99d35 50%,
    #dc721b 51%,
    #f9831e 100%
  );
  --color-warning: #dd636e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

input,
textarea {
  padding: 0.3em 1em;
}

ul {
  list-style: none;
}

/* header styles */

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(57 57 62 / 90%);
  padding: 1em;
  backdrop-filter: blur(5px);
}

nav {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.avatar__nav {
  max-width: 26px;
  max-height: 26px;
}

.logout__btn {
  padding: 0;
  background-color: transparent;
}

.message-form {
  position: relative;

  & textarea:focus ~ .message__word-count {
    display: inline;
  }

  & textarea:not(:placeholder-shown) ~ .message__word-count {
    display: inline;
  }
}

.message__word-count {
  left: 0;
  right: 0;
  top: 40%;
  position: absolute;
  display: none;
}

/* Home styles */

.logo {
  max-width: 300px;
  height: 100%;
  margin-inline: auto;
}

.logo-home {
  margin-bottom: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Sign Up styles */

.avatars-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-block: 0.5em;
}

.avatar__container {
  display: inline-block;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: 100ms;

  position: relative;
}

.avatar__container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  scale: 0;
  transition: scale 100ms ease-out, opacity 100ms linear;
  z-index: -1;
}

.avatar__container > img {
  width: 100%;
  object-fit: cover;
}

.avatars-wrapper:has(input[type="radio"]:checked)
  .avatar__container:has(input[type="radio"]:not(:checked)) {
  opacity: 0.5;
}

.avatar__container:has(input[type="radio"]:is(:checked)) {
  &.avatar__container::before {
    scale: 1.1;
  }

  &.avatar__container--blue::before {
    background-color: var(--blue);
  }

  &.avatar__container--orange::before {
    background-color: var(--orange);
  }

  &.avatar__container--gray::before {
    background-color: var(--gray);
  }

  &.avatar__container--green::before {
    background-color: var(--green);
  }

  &.avatar__container--red::before {
    background-color: var(--red);
  }

  &.avatar__container--pink::before {
    background-color: var(--pink);
  }

  &.avatar__container--brown::before {
    background-color: var(--brown);
  }

  &.avatar__container--lime::before {
    background-color: var(--lime);
  }
}

input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
}

/* Messageboard styles */

.messages {
  max-width: 600px;
  word-break: break-word;
}

.message {
  display: flex;
  gap: 2em;
  margin-block: 1em;
}

.avatar__message {
  max-width: 60px;
  aspect-ratio: 1;
}

.username__message {
  max-width: 60px;
  word-break: break-all;
}

.user__message {
  display: grid;
  place-content: center;
  align-self: start;
  position: relative;

  border: 4px solid #ffffff;
  border-radius: 1em;
  padding: 1em;
  min-height: 60px;
  font-weight: 600;
}

/* outer tail */
.user__message::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 6px 18px 7px 0;
  border-color: transparent #ffffff transparent transparent;
  border-style: solid;
  left: -20px;
  top: 20px;
}

/* inner tail */
/* .user__message::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px 12px 3px 0;
  border-color: transparent #f10101 transparent transparent;
  border-style: solid;
  left: -12px;
  top: 23px;
} */

.user__message--pink {
  background-image: var(--pink-gradient);
}

.user__message--red {
  background-image: var(--red-gradient);
}

.user__message--green {
  background-image: var(--green-gradient);
}

.user__message--gray {
  background-image: var(--gray--gradient);
}

.user__message--orange {
  background-image: var(--green-gradient);
}

/* error styles */

.error-msg {
  /* text-align: center; */
  color: var(--color-warning);
}

.error-msg::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets//warning-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.7em;
  transform: translateY(5px);
}
